body {
    overflow: hidden;
}

#cat {
    position: absolute;
}

#eple {
    position: absolute;
}
#poengtekst{
    position:absolute;
    top:0px;
    left:500px;
    margin-left: auto;
    margin-right: auto;
    height:20px;
}