body {
    overflow: hidden;
}

#cat {
    position: absolute;
}

#eple {
    position: absolute;
}
#poengtekst{
    position:absolute;
    top:0px;
    left:45%;
    margin-left: auto;
    margin-right: auto;
    height:15px;
}
#poeng{
    position:absolute;
    top:30px;
    left:40%;
    margin-left: auto;
    margin-right: auto;
    height:20px;
}