body {
    overflow: hidden;
    display: block;
    background-image: url("Background1.png");
    background-repeat: repeat;
}

.absolute {
    position: absolute;
}



#poengtekst{
    position:absolute;
    top:0px;
    left:46%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height:15px;
}
#poeng{
    position:absolute;
    top:30px;
    left:42.5%;
    margin-left: auto;
    margin-right: auto;
    height:20px;
}
#lett, #middels, #vanskelig{
    position:absolute;
    background-color: lightblue;
    top:20px;
    left:60%;
    width: 8%;
	border-radius: 10px;
	border: 2px solid white;
	color: black;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 20px;
	padding: 11px;
	text-align: center;
}

#lett {
    left: 60%; 
}

#middels {
    left:75%;
}
#vanskelig {
    left:90%;
}

#lett.active {
    background-color: green;
}

#middels.active {
    background-color: orange;
}

#vanskelig.active {
    background-color: red;
}

#backgroundSelect {
    display: flex;
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 20vh;
    width: 65vh;
    justify-content: space-around;
}

.backgroundsSelect {
    height: 90%;
    width: 30%;
    border: 1px black solid;
    transition: all 0.2s;
}

.backgroundsSelect:hover {
    height: 100%;
    width: 33%;
}

#cat, #eple {
    z-index: 1;
}